body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#navbar {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 64px;
    background-color: white;
    transition: top 300ms;
    z-index: 99;
}

#zydhan-logo {
    float: left;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-vertical-line {
    background: silver;
    float: right;
    height: 32px;
    margin-top: 16px;
    width: 1px;
}

.navbutton {
    float: right;
    width: 96px;
    height: 100%;
    background: white;
    border: none;
}

#navbar-sosmed {
    visibility: hidden;
}

.navbutton:hover {
    animation: buttonHoverAnim;
    animation-duration: 500ms;
    background: silver;
}

@keyframes buttonHoverAnim {
    0% {
        background: white;
    }
    100% {
        background: silver;
    }
}

@media only screen and (max-width: 600px) {
    .navbutton, .navbar-vertical-line {
        visibility: hidden;
        margin-left: -192px;
    }

    #navbar-sosmed {
        visibility: visible;
    }
}

#sidebar {
    height: 100%;
    width: 100%;
    background-color: white;
    transition: top 300ms;
    z-index: 5;
    top: -105%;
    position: fixed;
}

.sidebar-button {
    width: 100%;
    height: 64px;
    background: white;
    border: none;
}

.sidebar-button:hover {
    animation: buttonHoverAnim;
    animation-duration: 500ms;
    background: silver;
}

.horizontal-line {
    background-color: silver;
    height: 1px;
    width: 100%;
}

.section {
    height: 100vh;
    min-height: 550px;
    width: 100%;
    position: relative;
    top: 0px;
    background-image: url("main-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

#intro-section {
    background-image: url("main-background.webp");
}

#hello-section {
    margin: auto;
    top : 25%;
    display: block;
    opacity: 0;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.hello-element {
    text-align: center;
    text-transform: uppercase;
}

#hello-world {
    font-weight: 200;
    font-size: 32px;
}

#im-zydhan {
    font-weight: 300;
    font-size: 50px;
}

@media only screen and (min-width: 600px) {
    #im-zydhan {
        font-size: 72px;
    }
}

#intro-desc {
    display: flex;
    height: 72px;
}

.intro-desc-text {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 18px;
}

.intro-desc-vertical-line {
    width: 1px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}

#biodata-section {
    background-image: url("binary.webp");
    min-height: 615px;
}

.box-bg {
    margin: auto;
    position: relative;
    width: 90vw;
    min-height: 527px;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-title {
    position: relative;
    top: 2vh;
    left: 15px;
    font-size: 40px;
    color: white;
    font-weight: 100;
}

.content-element {
    position: relative;
    font-size: 18px;
    width: 93%;
    left: 15px;
    color: white;
    font-weight: 300;
}

@media only screen and (min-width: 600px) {
    .content-element {
        font-size: 22px;
    }
}

@media only screen and (min-width: 900px) {
    .content-title {
        font-size: 46px;
        top: 4vh;
        left: 24px;
    }

    .content-element {
        top: 4vh;
        font-size: 25px;
        left: 24px;
    }
}

#education-section {
    background: url("informatika.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#achievements-section {
    background: url("success.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.li-margin {
    width: 0px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

#picture-source-section {
    background: url("sources.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
}

#picture-source-box-bg {
    height: 90vh;
    min-height: 80vh;
}

footer {
    height: 56px;
    display: flex;
}

.footer-text {
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
}

.footer-vertical-line {
    height: 20px;
    width: 1px;
    margin: auto;
    background-color: gray;
}