body {
    font-family: 'Roboto', sans-serif;
    /* background-color: aquamarine; */
    margin: 0;
}

#navbar {
    display: block;
    position: fixed;
    top: 0px;
    /* margin-left: -8px;
    margin-top: -8px; */
    width: 100%;
    height: 64px;
    background-color: white;
}

#page-title {
    font-weight: 300;
    float: left;
    height: 100%;
    margin-top: 12px;
    margin-left: 16px;
}

.navbar-vertical-line {
    background: silver;
    float: right;
    height: 32px;
    margin-top: 16px;
    width: 1px;
}

.navbutton {
    float: right;
    width: 96px;
    height: 100%;
    background: white;
    border: none;
}

.navbutton:hover {
    animation: navButtonHoverAnim;
    animation-duration: 500ms;
    background: silver;
}

@keyframes navButtonHoverAnim {
    0% {
        background: white;
    }
    100% {
        background: silver;
    }
}

@media only screen and (max-width: 600px) {
    .navbutton, .navbar-vertical-line {
        visibility: hidden;
    }
}

#intro-section {
    height: 100vh;
    width: 100%;
    background-image: url("main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    /* --horizontal-padding : 10%;
    --vertical-padding : 25%;
    padding: var(--vertical-padding) var(--horizontal-padding) var(--vertical-padding) var(--horizontal-padding); */
}

#hello-section {
    margin: auto;
    top : 30%;
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.hello-element {
    text-align: center;
}