.light-mode {
  --circle-background: linear-gradient(
    to right bottom,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 100%, 0.8)
  );
}

.circle {
  --circle-diameter: 10rem;
  background: var(--circle-background);
  position: absolute;
  height: var(--circle-diameter);
  width: var(--circle-diameter);
  border-radius: 50%;
}
