.light-mode {
  --top-right-color: hsl(234, 86%, 85%);
  --bottom-left-color: hsl(200, 87%, 91%);
  --background-color: linear-gradient(
    to right top,
    var(--bottom-left-color),
    var(--top-right-color)
  );
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#circle1 {
  top: 5%;
  left: 5%;
}
